div.grid > * {
  padding: 0.2em;
  border-radius: 5px;
  flex-basis: 20px;
}

.tablist {
  display: flex;
}

@media (min-width: 540px) {
  div.grid > * {
    padding: 0 0.4em;
  }
}

/* @media (max-width: 768px) {
  div.grid > * {
    padding: 0;
  } */
