html, body {
    width:100%;
    overflow-x:hidden;
}

[data-amplify-authenticator] [data-amplify-container] {
    place-self: center;


}
[data-amplify-authenticator] [data-amplify-router] {
    border-radius: 10px !important;
    overflow: hidden !important;
}

  
  .amplify-button[data-variation="primary"] {
    border-width: var(--amplify-components-button-primary-border-width);
    /* background-color: #b9d3f3 !important; */
    background: #b9c6f3 !important;
    border-color: var(--amplify-components-button-primary-border-color);
    color: var(--amplify-components-button-primary-color);
  }
  .amplify-tabs {
    background-color: var(--amplify-components-tabs-background-color);
    box-shadow: var(--amplify-components-tabs-box-shadow);
    border-width: 0 0 var(--amplify-components-tabs-border-width) 0;
    border-style: var(--amplify-components-tabs-border-style);
    border-color: var(--amplify-components-tabs-border-color);
    gap: var(--amplify-components-tabs-gap);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}
  .amplify-tabs-item[data-state=active] {
      color:#b4b6e2 !important;
      border-color: #9ea1df!important;
  }
  .amplify-button[data-variation=link] {
      color: #aac7ea !important;
  }
  .amplify-tabs-item {
    color: #9aa6b1 !important;
    font-weight: 500 !important;
  }
   .amplify-tabs-item[data-state=active] {
    color:#7da1ff;
    border-color: var(--amplify-components-tabs-item-active-border-color);
    background-color: var(--amplify-components-tabs-item-active-background-color);
} 

#radix-\:r1\:-content-0 > div > div > form > div > fieldset > div.amplify-flex.amplify-field.amplify-textfield.amplify-passwordfield > div > div.amplify-field-group__outer-end > button > span {
    color: #c7cedf !important;
} 
h3.amplify-heading {
    font-size: large !important;
    color: #53555a !important;
}
:root {
    --header-size: var(--amplify-text-md) !important;
    color: var(--header-color);
    font-size: var(--header-size);
    --amplify-font-family: "Amazon Ember", "Helvetica Neue", "Helvetica", "Arial",
      sans-serif;
    --amplify-components-tabs-item-active-border-color: #fef;
    --amplify-components-tabs-item-active-background-color: #fef;
    --amplify-components-tabs-item-active-color: #fef;
    --amplify-text-xxs: 0.75rem;
    --amplify-text-xs: 0.81rem;
    --amplify-text-sm: 0.6rem;
    --amplify-text-md: 1rem;
    --amplify-text-md-sub: 1.15rem;
    --amplify-text-lg: 1rem;
    --amplify-text-xl: 2rem;
    --amplify-text-xxl: 2.5rem;
    --amplify-primary-color: #85c3ce;
    --width: 80%;
    /* #b9dde4; */
    --amplify-primary-background-color: #abe3e7;
    --amplify-primary-contrast: var(--amplify-white);
    --amplify-primary-tint: #9ec6ce !important;
    --amplify-primary-shade: #abe3e7 !important;
    --amplify-secondary-color: #152939;
    --amplify-secondary-contrast: var(--amplify-white);
    --amplify-secondary-tint: #31465f;
    --amplify-secondary-shade: #1f2a37;
    --amplify-tertiary-color: #5d8aff;
    --amplify-tertiary-contrast: var(--amplify-white);
    --amplify-tertiary-tint: #7da1ff;
    --amplify-tertiary-shade: #537be5;
    --amplify-background-color: var(--amplify-white);
    --amplify-grey: #828282;
    --amplify-light-grey: #c4c4c4;
    --amplify-white: #ffffff;
    --amplify-smoke-white: #f5f5f5;
    --amplify-red: #dd3f5b;
    --amplify-blue: #099ac8;
}

#qualityTime {
margin: 0 auto;
}

 #growth {
margin: 0 auto;
} 

/* #greeting {
    color: #465b75 !important;
} */

.rdp-day_today:not(.rdp-day_outside) {
    font-weight: bold;
    background: #97b9e4;
    color: white;
}

.rdp-button:hover:not([disabled]){
    background-color: #e0e8ff !important;

}

#todo-name, #todo-description {
    display: flex;
    justify-content: center;
    align-items: center;
}


#todo-description {
    justify-content: flex-start !important;

}


#card-wrap {
    margin-bottom: 3em;
}


#img-wrap {
    padding: 0;
    margin: 0;
}


.image-upload > input
{
    display: none;
}

.image-upload .img {   
    cursor: pointer;
    top: 212px;
    left: 330px;
    color: #8dbae8;
}

#img-wrap {
    display: flex;
    justify-content: center;
}




@media (max-width: 400px) {
    #img-container {
max-height: 280px;
}

}







@media (min-width: 1000px) {
    .page-content {
        padding: 1em 3em;
    }
    
}

